<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/global.css'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/dashboard.css'>
</head>
<body>
    <div class="header">
        <div class="user_info">
            <p>Nome</p>
            <div class="v_line"></div>
            <button onclick="logout()">Sair</button>
        </div>
    </div>
    <table class="books_table">
        <tr class="books_table_thread">
            <th>Título</th>
            <th>Autor</th>
            <th>Status</th>
            <th>Avaliação</th>
            <th>Data Conclusão</th>
        </tr>
        <tbody id="tabela-livros">
            <!-- Livros serão inseridos aqui -->
        </tbody>
    </table>
    <script src='/javascripts/dashboard.js'></script>
</body>
</html>