<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lista de livros</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/global.css'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/dashboard.css'>
</head>
<body>
    <div class="header">
        <div class="user_info">
            <p id="username">Nome</p>
            <div class="v_line"></div>
            <button title="Sair da conta" onclick="logout()">Sair</button>
        </div>
    </div>

    <table class="books_table">
        <tr class="books_table_thread">
            <th>Título</th>
            <th>Autor</th>
            <th>Status</th>
            <th>Avaliação</th>
            <th>Data de Conclusão</th>
            <th></th>
        </tr>
        <tbody id="tabela-livros"></tbody>
    </table>

    <container id="overlay" class="overlay_shadow hidden">
        <div class="overlay_container">
            <button class="close_button" onclick="closeOverlay()">X</button>
            <div class="form_item">
                <label class="form-label">Título</label>
                <input id="livro_titulo">
            </div>
            <div class="form_item">
                <label class="form-label">Autor</label>
                <input id="livro_autor">
            </div>
            <div class="form_item">
                <label class="form-label">Status</label>
                <input id="livro_status">
            </div>
            <div class="form_item">
                <label class="form-label">Avaliação</label>
                <input id="livro_avaliacao">
            </div>
            <div class="form_item">
                <label class="form-label">Data de Conclusão</label>
                <label id="livro_data_conclusao"></label>
            </div>
        </div>
    </container>

    <script src='/javascripts/dashboard.js'></script>
</body>
</html>