<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Cadastro</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' href='/stylesheets/global.css'>
        <link rel='stylesheet' type='text/css' href='/stylesheets/auth.css'>
    </head>
    <body>
        <script>
            const token = localStorage.getItem('token');
            if (token) window.location.href = '/dashboard';
        </script>
        <div class="auth_container">
            <h2>Cadastro</h2>
            <form id="signUpForm">
                <div class="form_item">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" id="name" required placeholder="Seu nome">
                </div>
                <div class="form_item">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" required placeholder="exemplo@email.com">
                </div>
                <div class="form_item">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" id="senha" required placeholder="Sua senha">
                </div>
                <button type="submit" class="submit_button">Criar usuário</button>
            </form>
            <p class="redirect_text">Já possui uma conta? <a href="/login">Faça Login</a>.</p>
            <div id="mensagem" class="text_danger"></div>
        </div>
        <script src='/javascripts/signup.js'></script>
    </body>
</html>